/* Francesco Lopez - 04/03/2019 */

body{background-image:url("../images/body_background.jpg");
	background-repeat:repeat;
	}

/*link property*/

a:link{color:red}

a:visited{color:#A52A2A}

a:hover{color:orange}

a:active{color:violet}



/* page sections */	

.container{ width:80%;
			min-width:1260px;
			min-height:780px;
			margin:0 auto;
			box-sizing:border-box
			}

header{width:100%;
		text-align:center;
		height:200px;
		box-sizing:border-box;
		border-style:groove;
		border-radius:30px;
		border-width:10px;
		margin:20px 0 20px 0;
		background-image:url("../images/music_header.jpg");
		border-color:white;
		}

nav{width:100%;
	height:110px;
	float:left;
	text-align:center;
	box-sizing:border-box;
	border-style:groove;
	border-width:10px;
	border-radius:30px;
	border-color:white;
	background-image:url("../images/music_nav.png");
	}
			
section{width:100%;
		box-sizing:border-box;
		float:left;
		text-align:center;
		margin:0 auto;
		border-style:groove;
		border-radius:30px;
		border-color:white;
		border-width:10px;
		margin:20px 0 20px 0;
		background-image:url("../images/music_section.jpg");
		}

article{width:60%;
		box-sizing:border-box;
		margin:0 auto;
		text-align:center;
		border-style:groove;
		border-radius:30px;
		border-color:black;
		background-color:white;
		float:right;
		margin-right:50px;
		margin-bottom:50px;
		}

footer{width:100%;
		height:110px;
		float:left;
		text-align:center;
		box-sizing:border-box;
		border-style:groove;
		border-width:10px;
		border-radius:30px;
		border-color:white;
		background-image:url("../images/footer.jpg");
		background-color:#ACA6A6;
		}		

/* biography_list */

ol{ list-style-type:lower-alpha;
	width:500px;
	font-size: 1.5em;
	color:blue;
	text-align: left;
	display:inline-block;
	font-family: 'Indie Flower', cursive;
	background-color:#F8FAB4;
	border-radius:30px;
	font-weight:bold;
	}

/* table */

table, td, th{border-spacing:20px;
			  border:2px solid black;
			  border-radius:30px;
			  padding:10px;
			  margin:0 auto;
			  margin-bottom: 50px;
			  font-family: "amatic SC", cursive;
			  font-size:1.5em;
			  font-weight:bold;
			  text-shadow:-2px 0 black, 0 4px black, 4px 0 black, 0 -2px black;
			  }

table{background-color:#F8FAB4;
		}

th{background-color:black; 
   color:white;
   }

td{background-color:#C2766E; 
   color:white;
   }

/* text elemetns */

p{margin:20px;
  font-family: "amatic SC", cursive;
  font-size:2em;
  color:black;
  font-weight:bold;
  }

p:first-letter{font-size:200%;
			   color:red
			   }
		
h1{font-family: 'Righteous', cursive;
	font-size:7em;
	color:brown;
	margin:20px 0 20px 0;
	text-shadow:-2px 0 black, 0 4px black, 4px 0 black, 0 -2px black;
}

/* id */

#facebook {-ms-transform: rotate(7deg);
           -webkit-transform: rotate(7deg);           
			transform: rotate(7deg); 
			}
			
#instagram {-ms-transform: rotate(-7deg);
           -webkit-transform: rotate(-7deg);           
			transform: rotate(-7deg); 
			}

#twitter {-ms-transform: rotate(7deg);
           -webkit-transform: rotate(7deg);           
			transform: rotate(7deg); 
			}

#video{margin:50px;
		}

#video_icon{margin:20px;}	

#link_guide{width:40%;
			box-sizing:border-box;
			text-align:center;
			margin:0 auto;
			border-style:groove;
			border-radius:30px;
			border-color:black;
			background-color:white;
			margin-top:80px;
			font-family:'Indie Flower', cursive;
			color:red;
			font-size:1em;
			font-weight:bold;
			}		
			
 /* classes */
 
 
 
 
.art_bio{width:90%;
		box-sizing:border-box;
		text-align:center;
		border-style:groove;
		border-radius:30px;
		border-color:black;
		background-color:white;
		margin-bottom:50px;
		margin-right:80px;
		}

.art_disco{width:60%;
		  margin:0 auto;
		  box-sizing:border-box;
		  text-align:center;
		  border-style:groove;
		  border-radius:30px;
		  border-color:black;
		  background-color:white;
		  margin-bottom:50px;
		  }

.video_desc{width:60%;
			margin:0 auto;
			box-sizing:border-box;
			text-align:center;
			border-style:groove;
			border-radius:30px;
			border-color:black;
			background-color:white;
			margin-top:20px;
			}

.li_nav{list-style-image:url("../images/music_icon.png");
		font-size: 2.5em;
		font-family:'Indie Flower', cursive;
		float:left;
		margin:10px 0 10px 120px;
		text-shadow:0 0 white, 0 1px white, 1px 0 white, 0 0 white;
		}

.h2{color:red;
	font-family: "amatic SC", cursive;
	text-align:left;
	font-size:4em;
	margin: 20px 0 10px 20px;
		}
		
.center_list{position:relative;
			display:inline-block;
			}

.img_top{width:375px;
		  height:300px;
		  margin:50px 20px 0 20px;
		  float:left;
		  background-image:url("../images/james_brown.jpg");
		  border-style:outset;
		  border-radius:30px;
		  border-color:black;
		  }

.img_bottom{width:375px;
		    height:300px;
			float:left;
			margin:450px -400px 100px -400px;
			background-image:url("../images/james_brown_1.jpg");
			border-style:outset;
			border-radius:30px;
			border-color:black;
			}
